/* DETAIL MENU */
.detail-menu {
  background-color: #f8f6e3;
  padding: 80px 0;
}

.menu-1 img {
  width: 100%;
  border: 2px solid #227b94;
  border-radius: 8px 8px 0 0;
}

.logo-container {
  background-color: #227b94;
  padding: 10px;
  border-radius: 0 0 0 8px;
}

.logo-container img {
  width: 206px;
}

.price {
  background-color: #f8f6e3;
  color: #227b94;
  border-bottom: 2px solid #227b94;
  border-right: 2px solid #227b94;
  border-radius: 0 0 8px 0;
  margin-left: -12px;
}

.price h2 {
  font-family: "Gloock", serif;
  margin: 0;
  line-height: 70px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}

.detail-content h1 {
  color: #227b94;
  font-family: "Gloock", serif;
  font-size: 2rem;
  text-align: left;
}

.detail-content hr {
  border: 1.7px solid #227b94;
  opacity: 1;
}

.detail-content p {
  color: #227b94;
  font-size: 1rem;
  margin: 15px 0;
  text-align: left;
}

.detail-content h6 {
  text-align: left;
  margin: 30px 0;
  font-weight: 650;
  color: #227b94;
}

.detail-form {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 2px solid #227b94;
  border-radius: 10px;
  background-color: #f8f6e3;
  margin-bottom: 15px;
}

.atribut {
  margin-top: 30px;
}

.atribut .quantity-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
  background-color: #227b94;
  margin-left: 13px;
  margin-right: auto;
  border-radius: 30px;
  height: 60px;
  width: 28%;
  color: #f8f6e3;
}

.atribut .quantity {
  font-size: 1.5rem;
  font-weight: bold;
}

.atribut .quantity-btn {
  border-radius: 50%;
  font-weight: 500;
  font-size: 30px;
  width: 45px;
  height: 45px;
  background-color: #f8f6e3;
  color: #227b94;
  overflow-y: hidden;
  padding: 0;
}

.atribut .quantity-btn:hover {
  background-color: #f8f6e3;
  color: #227b94;
}

.atribut .add-to-cart i {
  font-weight: 600;
  font-size: 1.5rem;
}

.atribut .add-to-cart {
  display: block;
  width: 40%;
  background-color: #227b94;
  color: #f8f6e3;
  font-size: 1.3rem;
  font-weight: 550;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 12px;
}

.atribut .add-to-cart:hover {
  background-color: #227b94;
  color: #f8f6e3;
}
